# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Windows / NTFS metadata
*.Zone.Identifier
*:Zone.Identifier
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Temporary outputs
temp/
tmp/
